{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <title>{% block title %}Joluro Systems{% endblock %}</title>
</head>

<body class="bg-gray">
    <div class="flex flex-col h-screen justify-between">
        {% include 'core/navbar.html' %}
        <div class="content">
            {% block content %}
            <!-- El contenido específico de cada página irá aquí -->
            <h1 class="text-blue-500 text-2xl">Pagina de inicio</h1>
            {% endblock %}
        </div>
        {% include 'core/footer.html' %}
    </div>
</body>
</html>